In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
from pyvis.network import Network
import plotly.graph_objects as go

In [2]:
!jupyter nbextension enable --py widgetsnbextension --sys-prefix
!jupyter serverextension enable voila --sys-prefix

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok
Enabling: voila
- Writing config: c:\users\rutis\desktop\github trial\venv_name\etc\jupyter
    - Validating...
      voila 0.2.10 ok

In [3]:
df = pd.read_excel(r'C:\Users\rutis\Desktop\DBL Kiddo\dbl\dataset.xlsx')
df=pd.DataFrame(df)
df

,date,fromId,fromEmail,fromJobtitle,toId,toEmail,toJobtitle,messageType,sentiment
0,2001-05-07,26,lavorato@enron.com,CEO,68,david.w.delainey@enron.com,CEO,TO,0.000000
1,2001-02-13,36,james.d.steffes@enron.com,Vice President,68,david.w.delainey@enron.com,CEO,TO,0.000000
2,2001-07-31,36,james.d.steffes@enron.com,Vice President,68,david.w.delainey@enron.com,CEO,TO,-0.052632
3,2000-08-27,68,david.w.delainey@enron.com,CEO,5,jeff.skilling@enron.com,CEO,CC,0.000000
4,2001-09-09,42,jeff.dasovich@enron.com,Employee,68,david.w.delainey@enron.com,CEO,TO,0.013699
...,...,...,...,...,...,...,...,...,...
31036,2001-10-23,129,shelley.corman@enron.com,Vice President,129,shelley.corman@enron.com,Vice President,TO,0.013699
31037,2001-09-01,42,jeff.dasovich@enron.com,Employee,116,richard.shapiro@enron.com,Vice President,TO,-0.052632
31038,2000-03-25,116,richard.shapiro@enron.com,Vice President,134,steven.j.kean@enron.com,Vice President,TO,-0.210526
31039,2001-09-01,42,jeff.dasovich@enron.com,Employee,134,steven.j.kean@enron.com,Vice President,TO,-0.052632
31040,2001-09-01,42,jeff.dasovich@enron.com,Employee,36,james.d.steffes@enron.com,Vice President,TO,-0.052632

In [4]:
frequency_df = df.groupby('toEmail').count()
idk=frequency_df.drop(['date','fromId','fromJobtitle','messageType','sentiment','toId','toJobtitle'], axis=1)
idk

                           fromEmail
toEmail
albert.meyers@enron.com            7
andrea.ring@enron.com             43
andy.zipper@enron.com            174
barry.tycholiz@enron.com         384
benjamin.rogers@enron.com         39
...                              ...
thomas.a.martin@enron.com        118
tom.donohoe@enron.com             12
tori.kuykendall@enron.com        156
tracy.geaccone@enron.com         211
vladi.pimenov@enron.com           26

[149 rows x 1 columns]

In [5]:
net = Network(height='750px', width='100%',bgcolor='#222222', font_color='white')
net.hrepulsion()

sources=df['fromEmail']
targets = df['toEmail']
jobf = df['fromJobtitle']
jobt = df['toJobtitle']

edge_data=zip(sources,targets)
for e in edge_data:
    src=e[0]
    dst=e[1]
    net.add_node(src,src,title="")
    net.add_node(dst,dst,title="")
    net.add_edge(src,dst)
    
net.set_options('''
var options = {
  "nodes": {
    "borderWidth": 0,
    "borderWidthSelected": 5,
    "labelHighlightBold": false,
    "shapeProperties": {
      "borderRadius": 8
    }
  },
  "edges": {
    "arrows": {
      "to": {
        "enabled": true,
        "scaleFactor": 0.65
      }
    },
    "color": {
      "inherit": true
    },
    "smooth": false
  },
  "physics": {
    "hierarchicalRepulsion": {
      "centralGravity": 0
    },
    "minVelocity": 0.75,
    "solver": "hierarchicalRepulsion"
  }
}
''')
net.show("idk.html")